.side-header
  .side-header__left
    .user__name
      = current_user.name

  .side-header__right
    %ul.side-header__right__option
      %li.side-header__right__btn
        = link_to new_group_path, class: "side-header__right__btn--icon" do
          = icon 'fas', 'edit'
      %li.side-header__right__btn
        = link_to edit_user_path(current_user), class: "side-header__right__btn--icon" do
          = icon 'fas', 'cog'

.content
  - current_user.groups.each do |group|
    .content__group
      = link_to group_messages_path(group), class: "content__group__link" do
        %p.content__group__name
          = group.name
        %p.content__group__message
          = group.show_last_message